<ion-header>
  <ion-toolbar class="toolbar" color="secondary">
    <ion-buttons>
      <ion-title> Signin </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list
    color="secondary"
    lines="none"
    class="ion-text-center ion-no-padding"
  >
    <ion-list-header
      color="secondary"
      class="ion-no-padding ion-padding-bottom"
      lines="none"
    >
      <ion-label class="signin-title" color="warning"> QualiTa </ion-label>
    </ion-list-header>
  </ion-list>
  <ion-item color="success">
    <ion-label position="floating">Email</ion-label>
    <ion-input name="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item color="success">
    <ion-label position="floating">Password</ion-label>
    <ion-input
      name="password"
      type="password"
      [(ngModel)]="user.password"
    ></ion-input>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button
          (click)="animatePic(user.email, user.password)"
          expand="block"
          color="warning"
          class="signin-button"
          disabled="{{stop}}"
          >Sign in</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          routerLink="/tabs/tab1"
          expand="block"
          fill="outline"
          color="warning"
          class="signin-button"
          disabled="{{stop}}"
          >Explore</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-router-link color="warning" routerLink="/forgot">
          Forgot password?
        </ion-router-link>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-router-link color="warning" routerLink="/signup">
          Sign up?
        </ion-router-link>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img
    id="logo"
    class="signin-image"
    alt="style with effect"
    src="../../assets/smoke.png"
  />
</ion-content>
