<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar class="toolbar" color="secondary">
    <ion-buttons collapse="true" slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title> {{FBSrv.product.title?.slice(0,10)}}...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-color">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-padding-bottom"
        ><ion-img alt="Product" src="{{FBSrv.product.image}}"></ion-img
      ></ion-card-title>
      <ion-card-subtitle color="warning"
        >{{FBSrv.product.title}}{{" "}}<ion-badge
          style="vertical-align: middle"
          color="warning"
          >{{FBSrv.product.type}}</ion-badge
        ></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content class="ion-no-padding">
      <ion-row>
        <ion-col>
          <ion-text class="ion-padding-start" color="warning"
            >{{FBSrv.product?.rating?.slice(0, 3)}}
            <ion-icon name="star" class="product-star"></ion-icon>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="warning" class="product-bold"
            >{{FBSrv.product.price}}$</ion-text
          >
        </ion-col>
        <ion-col>
          <ion-icon
            class="icon-fav"
            [name]="FBSrv.starredItems.includes(FBSrv.product.itemID)? 'heart': 'heart-outline'"
            size="large"
            (click)="FBSrv.addFavToLocalStorage(FBSrv.product.itemID, FBSrv.product)"
          ></ion-icon>
          <ion-icon
            (click)="basicShare()"
            class="ion-padding-start"
            size="large"
            name="share-social-outline"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row
      class="ion-float-right ion-no-padding ion-padding-bottom ion-padding-horizontal"
    >
      <ion-col>
        <ion-fab-button
          color="primary"
          (click)="addLike(FBSrv.product.itemID)"
          class="upvote-count"
        >
          <div class="upvote-count">
            {{FBSrv.product.voteCount || 0}}
            <ion-icon name="caret-up-outline" size="small"></ion-icon>
          </div>
        </ion-fab-button>
      </ion-col>
      <ion-col>
        <ion-fab-button
          color="primary"
          (click)="presentModal(_, FBSrv.product.itemID)"
          ><ion-icon name="chatbubble-outline"></ion-icon
        ></ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-list-header class="ion-text-center ion-text-capitalize ion-no-padding">
    <ion-label color="light"
      >{{FBSrv.product.comments?.length || "No"}}{{" "}}Comments</ion-label
    >
  </ion-list-header>

  <ion-item color="warning" *ngFor="let comment of FBSrv.product.comments">
    <ion-avatar slot="start">
      <img src="./avatar-rey.png" />
    </ion-avatar>
    <ion-label>
      <h5>
        {{comment.postedBy.name}}<span
          >{{" "}}|{{" "}}{{comment.created | timeAgo}}</span
        ><ion-icon name="time-outline" class="icon-vertical"></ion-icon>
      </h5>
      <h2 class="ion-text-wrap"><strong>{{comment.text}}</strong></h2>
    </ion-label>
    <ion-fab-button
      *ngIf="this.FBSrv.currentUser.uid === comment.postedBy.id"
      size="small"
      color="primary"
      (click)="presentEditModal(comment.text, FBSrv.product.itemID, comment.created)"
      ><ion-icon name="create-outline"></ion-icon
    ></ion-fab-button>
    <ion-fab-button
      *ngIf="this.FBSrv.currentUser.uid === comment.postedBy.id"
      (click)="handleDeleteComment(FBSrv.product.itemID, comment.created)"
      size="small"
      color="primary"
      ><ion-icon name="trash-bin-outline"></ion-icon
    ></ion-fab-button>
  </ion-item>
</ion-content>
