<script src="dynamics.js"></script>
<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar color="secondary" class="toolbar">
    <ion-buttons collapse="true" slot="end">
      <ion-icon
        class="icon"
        (click)="presentAlertConfirm()"
        name="trash"
        slot="end"
        size="large"
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div padding>
    <ion-segment [(ngModel)]="showSegment" color="medium">
      <ion-segment-button value="search">
        <ion-label class="label">Search</ion-label>
      </ion-segment-button>
      <ion-segment-button value="report">
        <ion-label class="label">Reports</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="showSegment">
    <div *ngSwitchCase="'search'" color="primary">
      <ion-list
        class="ion-no-padding"
        color="primary"
        *ngFor="let search of userSearches; let i = index"
      >
        <ion-item-sliding color="primary">
          <ion-item color="primary">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <strong>{{search.searchTerm}}</strong>
                </ion-col>
                <ion-col class="ion-padding-start ion-text-right">
                  {{" "}}{{" "}}{{search.time | timeAgo}}<ion-icon
                    *ngIf="FBSrv.currentUser?.uid === search?.userId"
                    style="vertical-align: middle"
                    name="time-outline"
                  ></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="end" color="primary">
            <ion-item-option
              color="primary"
              (click)="deleteSearch(search.propertyId)"
              ><ion-icon name="trash-outline"></ion-icon
            ></ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
    <div *ngSwitchCase="'report'">Habiba work here</div>
  </div>
</ion-content>
