<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-buttons collapse="true" slot="end">
      <ion-icon
        name="close-circle-outline"
        slot="end"
        *ngIf="show"
        (click)="cancelSelection()"
        size="large"
      ></ion-icon>
      <ion-icon
        *ngIf="show"
        name="reader-outline"
        slot="end"
        size="large"
        (click)="geneateReport()"
      ></ion-icon>
      <ion-icon
        *ngIf="!show"
        (click)="selectProducts()"
        class="icon"
        name="add"
        slot="end"
        size="large"
      ></ion-icon>
      <ion-icon
        (click)="presentAlertConfirm()"
        slot="end"
        size="large"
        name="trash-outline"
      ></ion-icon>
    </ion-buttons>
    <ion-title> Favorites </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-buttons collapse="true" slot="end" size="large">
        <ion-icon
          name="close-circle-outline"
          slot="end"
          *ngIf="show"
          (click)="cancelSelection()"
          size="large"
        ></ion-icon>
        <ion-icon
          *ngIf="show"
          name="reader-outline"
          slot="end"
          size="large"
          (click)="geneateReport()"
        ></ion-icon>
        <ion-icon
          *ngIf="!show"
          (click)="selectProducts()"
          class="icon"
          name="add"
          slot="end"
          size="large"
        ></ion-icon>
        <ion-icon
          (click)="presentAlertConfirm()"
          size="large"
          slot="end"
          name="trash-outline"
        ></ion-icon>
      </ion-buttons>
      <ion-title>Favorites</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card
    class="product"
    *ngFor="let product of FBSrv.starredProducts ; let i=index"
    routerLink="/product-detail/{{product.itemID}}"
  >
    <ion-card-header class="product-header">
      <ion-checkbox
        *ngIf="show"
        class="product-checkbox"
        [(ngModel)]="chooseItems[i]"
        checked="false"
      ></ion-checkbox>
      <ion-card-subtitle class="product-header-image"
        ><img src="{{product.image}}" alt="product scraped from amazon"
      /></ion-card-subtitle>
      <ion-card-title color="tertiary" class="product-title"
        >{{product.title.slice(0,40)}}...</ion-card-title
      >
    </ion-card-header>

    <ion-card-content color="tertiary" class="ion-text-center product-body">
      {{product.rating.slice(0, 3)}}
      <ion-icon name="star" class="star"></ion-icon>
      <span color="tertiary">{{product.price}}</span>$
    </ion-card-content>
  </ion-card>
  <ion-img
    id="stars"
    src="../../assets/icon/Stargazing.svg"
    alt="No Starred item found"
  ></ion-img>
</ion-content>
