<script src="dynamics.js"></script>
<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar class="toolbar">
    <ion-buttons collapse="true" slot="end">
      <ion-icon
        class="icon"
        name="filter-outline"
        collapse="true"
        slot="end"
        size="large"
        (click)="filterMostLiked()"
      ></ion-icon>
      <ion-icon class="icon" name="add" slot="end" size="large"></ion-icon>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-title size="large">Home</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-icon
          class="icon"
          name="filter-outline"
          collapse="true"
          slot="end"
          size="large"
        ></ion-icon>
        <ion-icon class="icon" name="add" slot="end" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div padding>
    <ion-segment [(ngModel)]="showSegment" color="medium">
      <ion-segment-button value="amazon">
        <ion-label class="label">Amazon</ion-label>
      </ion-segment-button>
      <ion-segment-button value="alibaba">
        <ion-label class="label">Alibaba</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="showSegment">
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
        <div *ngSwitchCase="'amazon'">
          <ion-card
            id="amazon"
            class="product"
            *ngFor="let product of FBSrv.amazonProducts | async; let i=index"
            routerLink="/product-detail/{{product.propertyId}}"
          >
            <ion-card-header class="product-header">
              <ion-card-subtitle class="product-header-image"
                ><img src="{{product.image}}" alt="product scraped from amazon"
              /></ion-card-subtitle>
              <ion-card-title color="danger" class="product-title"
                >{{product.title.slice(0,40)}}...</ion-card-title
              >

              <ion-icon
                class="icon-fav"
                [name]="FBSrv.starredItems.includes(product.itemID)? 'heart': 'heart-outline'"
                size="large"
                (click)="FBSrv.addFavToLocalStorage(product.itemID, product)"
              ></ion-icon>
            </ion-card-header>

            <ion-card-content
              color="danger"
              class="ion-text-center product-body"
            >
              <span class="white-color" color="danger"
                >{{product.rating.slice(0, 3)}}</span
              >
              <ion-icon name="star" class="star"></ion-icon>
              <span color="danger">{{product.price}}</span>$
            </ion-card-content>
          </ion-card>
        </div>

        <div *ngSwitchCase="'alibaba'">
          <ion-card
            class="product"
            *ngFor="let product of FBSrv.alibabaProducts | async; let i=index"
            routerLink="/product-detail/{{product.propertyId}}"
          >
            <ion-card-header class="product-header">
              <ion-card-subtitle class="product-header-image"
                ><img src="{{product.image}}" alt="product scraped from amazon"
              /></ion-card-subtitle>
              <ion-card-title color="danger" class="product-title"
                >{{product.title.slice(0,30)}}...</ion-card-title
              >
              <ion-icon
                class="icon-fav"
                [name]="FBSrv.starredItems.includes(product.itemID)? 'heart': 'heart-outline'"
                size="large"
                (click)="FBSrv.addFavToLocalStorage(product.itemID, product)"
              ></ion-icon>
            </ion-card-header>

            <ion-card-content
              color="danger"
              class="ion-text-center product-body"
            >
              <span class="white-color" color="danger">{{product.rating}}</span>
              <ion-icon name="star" class="star"></ion-icon>
              <span color="danger">{{product.price}}</span>$
            </ion-card-content>
          </ion-card>
        </div>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
