.toolbar {
  --background: #3c3a4c;
  color: #d8cea3;
}

.icon {
  margin: 5px;
}

.content {
  background-color: #3c3a4c;
  --background: #a9a4c7;
}

div {
  height: fit-content(20em);
}

.icon-fav {
  padding-left: 2px;
  order: 3;
}

.product {
  display: flex;
  flex-direction: column;

  &-title {
    color: #3c3a4c;
    font-size: 1.3rem;
    padding-left: 10px;
    order: 2;
    flex-grow: 2;
    width: 5rem;
    word-wrap: normal;
  }
  &-header {
    display: flex;

    &-image {
      height: 5rem;
      width: 5rem;
      object-fit: cover;
    }
  }
  &-body {
    color: #3c3a4c;
    font-weight: bold;
    font-size: 1rem;
  }
}

.star {
  color: #fdb827;
}
span {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.label {
  font-size: 1rem;
}
