<ion-header [translucent]="true" class="toolbar">
  <ion-toolbar class="toolbar">
    <ion-buttons collapse="true" slot="end">
      <ion-icon
        class="icon"
        name="filter-outline"
        collapse="true"
        slot="end"
        size="large"
      ></ion-icon>
      <ion-icon class="icon" name="add" slot="end" size="large"></ion-icon>
    </ion-buttons>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar class="toolbar">
      <ion-title size="large">Home</ion-title>
      <ion-buttons collapse="true" slot="end">
        <ion-icon
          class="icon"
          name="filter-outline"
          collapse="true"
          slot="end"
          size="large"
        ></ion-icon>
        <ion-icon class="icon" name="add" slot="end" size="large"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div padding>
    <ion-segment [(ngModel)]="showSegment" color="medium">
      <ion-segment-button value="amazon">
        <ion-label class="label">Amazon</ion-label>
      </ion-segment-button>
      <ion-segment-button value="alibaba">
        <ion-label class="label">Alibaba</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="showSegment">
    <div *ngSwitchCase="'amazon'">
      <ion-card
        class="product"
        *ngFor="let product of FBSrv.amazonProducts | async; let i=index"
      >
        <ion-card-header class="product-header">
          <ion-card-subtitle class="product-header-image"
            ><img src="{{product.image}}" alt="product scraped from amazon"
          /></ion-card-subtitle>
          <ion-card-title class="product-title"
            >{{product.title.slice(0,40)}}...</ion-card-title
          >
          <ion-icon
            class="icon-fav"
            name="heart-outline"
            size="large"
          ></ion-icon>
        </ion-card-header>

        <ion-card-content class="ion-text-center product-body">
          {{product.rating.slice(0, 3)}}
          <ion-icon name="star" class="star"></ion-icon>
          <span>{{product.price}}</span>$
        </ion-card-content>
      </ion-card>
    </div>

    <div *ngSwitchCase="'alibaba'">
      <ion-card
        class="product"
        *ngFor="let product of FBSrv.alibabaProducts | async; let i=index"
      >
        <ion-card-header class="product-header">
          <ion-card-subtitle class="product-header-image"
            ><img src="{{product.image}}" alt="product scraped from amazon"
          /></ion-card-subtitle>
          <ion-card-title class="product-title"
            >{{product.title.slice(0,30)}}...</ion-card-title
          >
          <ion-icon
            class="icon-fav"
            name="heart-outline"
            size="large"
          ></ion-icon>
        </ion-card-header>

        <ion-card-content class="ion-text-center product-body">
          {{product.rating}}
          <ion-icon name="star" class="star"></ion-icon>
          <span>{{product.price}}</span>$
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
