.toolbar {
  --background: #3c3a4c;
  color: #d8cea3;
}

.search_bg {
  --background: #3c3653 url('../../assets/search_bg.png');
}

.star {
  color: #fdb827;
}

.title-heading {
  padding-top: 8rem;
  font-weight: bold;
  vertical-align: middle;
  color: #d8cea3;
}
